@font-face {
  font-family:'Roboto-regular';
  src: url(Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family:'Roboto-medium';
  src: url(Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family:'REvalia-regular';
  src: url(Revalia/Revalia-Regular.ttf);
}